<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/diabetis.css">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">AI Vision</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#">Diseases</a></li>
                <li><a href="/symptom">Symptoms</a></li>
            </ul>
        </div>
    </nav>
    <div class="heading">
        <h1 id="h1">Lungs</h1>
        <p>Cancer is a disease in which cells in the body grow out of control. When cancer starts in the lungs, it is called lung cancer. Lung cancer begins in the lungs and may spread to lymph nodes or other organs in the body, such as the brain. Cancer from other organs also may spread to the lungs. When cancer cells spread from one organ to another, they are called metastases.
        </p>
        
        <h1>Symptoms</h1>
        <p>
            A new cough that doesn't go away. <br>
            Coughing up blood, even a small amount. <br>
            Shortness of breath.
            Chest pain. <br>
            Hoarseness. <br>
            Losing weight without trying. <br>
            Bone pain. <br>
            Headache. <br>
        </p>
        <h1>Precautions</h1>
        <p>
            Persistent cough. <br>
            Coughing up blood. <br>
            Chest pain. <br>
            Shortness of breath. <br>
            Wheezing. <br>
            Hoarseness. <br>
            Unexplained weight loss. <br>
            Fatigue. <br>
            Loss of appetite. <br>
        </p>
    </div>
    <form action="/submit_lungs" method="POST">
        <div class="container">
            <h2>Patient Details</h2>
            <div class="form-grid">
                <div class="form-row">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>Sex:</label>
                        <div class="radio-group">
                            <input type="radio" id="male" name="sex" value="2">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="sex" value="1">
                            <label for="female">Female</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" id="age" name="age" required>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label for="mob">Mobile no.:</label>
                        <input type="tel" id="mob" name="mob" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Smoking:</label>
                        <div class="radio-group">
                            <input type="radio" id="smoking-yes" name="smoking" value="2">
                            <label for="smoking-yes">Yes</label>
                            <input type="radio" id="smoking-no" name="smoking" value="1">
                            <label for="smoking-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Yellow fingers:</label>
                        <div class="radio-group">
                            <input type="radio" id="yellow-fingers-yes" name="yellow_fingers" value="2">
                            <label for="yellow-fingers-yes">Yes</label>
                            <input type="radio" id="yellow-fingers-no" name="yellow_fingers" value="1">
                            <label for="yellow-fingers-no">No</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Anxiety:</label>
                        <div class="radio-group">
                            <input type="radio" id="anxiety-yes" name="anxiety" value="2">
                            <label for="anxiety-yes">Yes</label>
                            <input type="radio" id="anxiety-no" name="anxiety" value="1">
                            <label for="anxiety-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Peer pressure:</label>
                        <div class="radio-group">
                            <input type="radio" id="peer-pressure-yes" name="peer_pressure" value="2">
                            <label for="peer-pressure-yes">Yes</label>
                            <input type="radio" id="peer-pressure-no" name="peer_pressure" value="1">
                            <label for="peer-pressure-no">No</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Chronic Disease:</label>
                        <div class="radio-group">
                            <input type="radio" id="chronic-disease-yes" name="chronic_disease" value="2">
                            <label for="chronic-disease-yes">Yes</label>
                            <input type="radio" id="chronic-disease-no" name="chronic_disease" value="1">
                            <label for="chronic-disease-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fatigue:</label>
                        <div class="radio-group">
                            <input type="radio" id="fatigue-yes" name="fatigue" value="2">
                            <label for="fatigue-yes">Yes</label>
                            <input type="radio" id="fatigue-no" name="fatigue" value="1">
                            <label for="fatigue-no">No</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Allergy:</label>
                        <div class="radio-group">
                            <input type="radio" id="allergy-yes" name="allergy" value="2">
                            <label for="allergy-yes">Yes</label>
                            <input type="radio" id="allergy-no" name="allergy" value="1">
                            <label for="allergy-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Wheezing:</label>
                        <div class="radio-group">
                            <input type="radio" id="wheezing-yes" name="wheezing" value="2">
                            <label for="wheezing-yes">Yes</label>
                            <input type="radio" id="wheezing-no" name="wheezing" value="1">
                            <label for="wheezing-no">No</label>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group">
                        <label>Alcohol:</label>
                        <div class="radio-group">
                            <input type="radio" id="alcohol-yes" name="alcohol" value="2">
                            <label for="alcohol-yes">Yes</label>
                            <input type="radio" id="alcohol-no" name="alcohol" value="1">
                            <label for="alcohol-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Coughing:</label>
                        <div class="radio-group">
                            <input type="radio" id="coughing-yes" name="coughing" value="2">
                            <label for="coughing-yes">Yes</label>
                            <input type="radio" id="coughing-no" name="coughing" value="1">
                            <label for="coughing-no">No</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label>Shortness of Breath:</label>
                        <div class="radio-group">
                            <input type="radio" id="shortness-breath-yes" name="shortness_breath" value="2">
                            <label for="shortness-breath-yes">Yes</label>
                            <input type="radio" id="shortness-breath-no" name="shortness_breath" value="1">
                            <label for="shortness-breath-no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Swallowing Difficulty:</label>
                        <div class="radio-group">
                            <input type="radio" id="swallowing-difficulty-yes" name="swallowing_difficulty" value="2">
                            <label for="swallowing-difficulty-yes">Yes</label>
                            <input type="radio" id="swallowing-difficulty-no" name="swallowing_difficulty" value="1">
                            <label for="swallowing-difficulty-no">No</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label>Chest Pain:</label>
                        <div class="radio-group">
                            <input type="radio" id="chest-pain-yes" name="chest_pain" value="2">
                            <label for="chest-pain-yes">Yes</label>
                            <input type="radio" id="chest-pain-no" name="chest_pain" value="1">
                            <label for="chest-pain-no">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" value="Submit" class="submit">Submit</button>
        </div>
    </form>

    <footer>
        <div class="footer-container">
            <div class="social-icon">
                <a href="https://www.facebook.com/YourPage" target="_blank"><img src="../pictures/facebook.jpg"
                        alt="Facebook"></a>
                <a href="https://www.linkedin.com/company/your-company" target="_blank"><img
                        src="../pictures/linkedin.jpg" alt="LinkedIn"></a>
                <a href="https://twitter.com/YourTwitterHandle" target="_blank"><img src="../pictures/x.jpg"
                        alt="Twitter"></a>

            </div>
        </div>
        <div class="copyright">
            <p style="color: white;">&copy; 2024 AIVision. All rights reserved.</p>
        </div> 
    </footer>
</body>

</html>